<h1 class="text-center fw-bold my-5">Painel do Gestor</h1>

<div class="container">
      <%= render "layouts/sales_data"%>
  <div class="feedback-container">
    <div class="feedback-section">
      <%= render "layouts/sales_graph"%>
    </div>
  </div>
    <h2 class="text-center fw-bold p-3 mb-3">Níveis de Estoque</h2>
  <div class="feedback-container">
    <div class="feedback-section">
      <%= render "layouts/stock_graph"%>
        <h4 class="fw-bold p-3 mt-3">Nível de Desperdício: </h4>
         <div class="waste-bar p-3">
        <div class="bar">
          <div class="fill" style="width: 15%"></div>
        </div>
        <span class="text">15%</span>
        </div>
    </div>
  </div class="mt-3">
      <%= render "feedbacks/rating"%>
</div>
