
<div class="rating-bar">
  <div class="bar">
    <div class="fill" style="width: 90%"></div>
  </div>
  <span class="text">4.5/5</span>
</div>

<br>

  <h2 class="text-center jello-horizontal fw-bold">Nota Média: <span class="rating-value">4.5/5.0</span></h2>
  <p class="text-center">Atualizada em: 14/07/2024</p>

<br>

<div class="feedback-container">
  <div class="feedback-section">
    <h3 class="text-center fw-bold">Melhor Avaliação Recente <i class="fas fa-thumbs-up shake-horizontal positive-review"></i></h3>

      <strong>Cliente:</strong> Maria
    </p>
    <p>
      <strong>Avaliação:</strong>
      <span class="star-rating">
      <span class="star filled">&#9733;</span> <!-- Filled star -->
      <span class="star filled">&#9733;</span>
      <span class="star filled">&#9733;</span>
      <span class="star filled">&#9733;</span>
      <span class="star">&#9733;</span> <!-- Empty star -->
    </span>
    </p>
    <p>
      <strong>Comentário:</strong> Muito boa a experiência, vou voltar!
    </p>
    <p>
      <strong>Data da Avaliação:</strong> 12/07/2024
    </p>
  </div>

  <div class="feedback-section">
    <h3 class="text-center fw-bold">Pior Avaliação Recente <i class="fas fa-thumbs-down shake-horizontal negative-review"></i></h3>
    <p>
      <strong>Cliente:</strong> João
    </p>
    <p>
      <strong>Avaliação:</strong>
       <span class="star-rating">
        <span class="star filled">&#9733;</span>
      </span>
    </p>
    <p>
      <strong>Comentário:</strong> Muito ruim a experiência. O garçom Chico foi rude comigo.
    </p>
    <p>
      <strong>Data da Avaliação:</strong> 10/07/2024
    </p>
  </div>
</div>
