

<h1 class="text-center fw-bold">Avaliações dos Clientes</h1>
<div class="feedback-container">
  <div class= "feedback-section mt-3">
    <h2 class="text-center jello-horizontal fw-bold mt-3 ">Nota Média: <span class="rating-value">4.5/5.0</span></h2>
      <div class="rating-bar">
        <div class="bar">
          <div class="fill" style="width: 95%"></div>
        </div>
        <span class="text">4.5/5.0</span>
        </div>
        <p class="text-center">Atualizada em: 14/07/2024</p>
  </div>

  <div class="feedback-section mt-3">
    <h2 class="text-center fw-bold mt-3 jello-horizontal">Pontos a melhorar: </h2>
    <ul class="text-center list-unstyled">
      <li>Tempo de espera</li>
      <li>Atendimento</li>
    </ul>
  </div>
</div>

<div class="feedback-container">
  <div class="feedback-section">
    <h2 class="text-center fw-bold mt-3">Melhor Avaliação Recente <i class="fas fa-thumbs-up shake-horizontal positive-review"></i></h2>
    <br>
      <strong>Cliente:</strong> Maria
    </p>
    <p>
      <strong>Avaliação:</strong>
      <span class="star-rating">
      <span class="star filled">&#9733;</span> <!-- Filled star -->
      <span class="star filled">&#9733;</span>
      <span class="star filled">&#9733;</span>
      <span class="star filled">&#9733;</span>
      <span class="star">&#9733;</span> <!-- Empty star -->
    </span>
    </p>
    <p>
      <strong>Comentário:</strong> Muito boa a experiência, vou voltar!
    </p>
    <p>
      <strong>Data da Avaliação:</strong> 12/07/2024
    </p>
  </div>

  <div class="feedback-section">
    <h2 class="text-center fw-bold mt-3">Pior Avaliação Recente <i class="fas fa-thumbs-down shake-horizontal negative-review"></i></h2>
    <br>
    <p>
      <strong>Cliente:</strong> João
    </p>
    <p>
      <strong>Avaliação:</strong>
       <span class="star-rating">
        <span class="star filled">&#9733;</span>
      </span>
    </p>
    <p>
      <strong>Comentário:</strong> Muito ruim a experiência. O garçom Chico foi rude comigo.
    </p>
    <p>
      <strong>Data da Avaliação:</strong> 10/07/2024
    </p>
  </div>
</div>
